<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ubicación Impresoras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="map"></div>
	<ion-card>
		<ion-row>
			<ion-col>
				<img class="iconx" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt=""> 
			</ion-col>
			<ion-col>
				Mi ubicación
			</ion-col>
			<ion-col>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-card>
		<ion-row>
			<ion-col>
				<img class="iconx" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt=""> 
			</ion-col>
			<ion-col>
				Ubicación PrintU
			</ion-col>
			<ion-col>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
