<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ¿Cómo Usar?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Primer paso</ion-card-subtitle>
			<ion-card-title>Reguistrate</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Para poder hacer uso de PrintU debes pertenecer a la Universidad Nacional de Colombia, así que debes realizar el reguistro con tu correo institucional, llenar unos datos basicos y seleccionar una contraseña.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Segundo paso</ion-card-subtitle>
			<ion-card-title>Inicia Sesión</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			En la pestaña "Perfil" debes realizar el inicio con tu correo institucional y tu contraseña establecida, Sino la recuerdas, te ayudamos a reestablecerla.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Tercer paso</ion-card-subtitle>
			<ion-card-title>Subir el documento</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			En la pestaña "Nuevo Docuemento" puedes subir tus documentos a la nuve, seleccionandolos desde el celular y estableciendo los parametros de impresion, como el color, tamaño de la hoja, numero de copias, etc.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Cuarto paso</ion-card-subtitle>
			<ion-card-title>Tu saldo</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			En la pestaña "Medio de pago" puedes revisar los medios de pago establecidos para el pago y puedes revisar tu saldo, ademas puedes verificar los costos de nuestro servicio.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Quinto paso</ion-card-subtitle>
			<ion-card-title>Ubicación</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			En la pestaña "Ubicación" puedes revisar el mapa de la Universidad Nacional, donde estará indicada tu ubicación, la ubicacion de los puntos de impresion y los puntos de recarga.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img class="icony" src="/assets/icon/imagen_printU.jpeg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Sexto paso</ion-card-subtitle>
			<ion-card-title>Impresión</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Al llegar a tu ubicacion de impresión debes poner tu carnet de la universidad como identificador, posterior seleccionas tu documento a imprimir. Y listo...
		</ion-card-content>
	</ion-card>

</ion-content>
