<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Medio de Pago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-list>
	<ion-item>
		<ion-label>NEQUI</ion-label>
	</ion-item>
  <ion-item>
    <ion-label>RAPPIPAY</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>PSE</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>EFECTIVO</ion-label>
  </ion-item>
</ion-list>


</ion-content>
