<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/icon/imagen_printU.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Tu decides cómo, cuándo y dónde imprimir</ion-card-subtitle>
      <ion-card-title>Bienvenido a PrintU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tu servicio de impresión que te permite gestionar tus documentos y parámetros de impresión desde tu celular. Sin restricción de horario y versatilidad en medios de pago.</p>
      <ion-row>
        <ion-col width=2> 
          <ion-button href="/register" expand="block" color="primary">Reguistrarse
          </ion-button> 
        </ion-col>
        <ion-col width=7>
          <ion-button href="/login" expand="block" color="secondary">Ingresar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
